/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.phpunit.result.cache
Modatex_App_Api.pem
access.log
error.log
public/comprobante
public/example_permissions.mp4modatex-e6ba5-firebase-adminsdk-wqbq6-04aa81f7a6.json
